<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form th:action="@{/adminLogin}" method="post" style=" width: 400px; margin-top: 250px;margin-left: 500px;">

        <label>
            Username: <input type="text" name="userName" value="admin@isp.net">
        </label>
        <label >
            Password: <input type="text" name="password" value="P@ssword1">
        </label>
        <input type="submit" name="submit" class="btn btn-primary">

    </form>
    <form method="post" th:action="@{register}" style=" margin-left: 610px; width:500px;">
        <button class="btn btn-primary" name="btnRegister" value="Register">Register</button>
    </form>

</body>
</html>
